*{
   
   padding: 0%;
   margin: 0%;
    background-attachment: fixed;
}
body{
    background-image:url("picture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#nevbar{
    height: 60px;
    background-color: rgb(15, 17, 17);
    font-size: 25px;
    
    
}
button{
   background-color: #f08804;
} 
.logo{
    margin-top:10px;
}
a{
    margin-right:150px;
    color: rgb(248, 247, 247);
}
select{
    color: black;
    font-size: 15px;
}
#my{
    text-decoration: none;
}

